<div class="container mt-5 pe-3 border" style="background: rgb(0, 0, 0);">
    <h1 class="text-success fw-bold">Contact to our team members mentioned below</h1>
    <table class="table   text-light">
        <thead>
            <tr>
                <th class="fw-bold">Id</th>
                <th class="fw-bold">Name</th>
                <th class="fw-bold">Email</th>
                <th class="fw-bold">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Akhilesh Yadav</th>
                <th><a>yadavakhilesh201616@gmail.com</a></th>
                <th>9616588637</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Sambasiva Rao</th>
                <th><a>uppusamba99@gmail.com</a></th>
                <th>8179413515</th>
            </tr>
            <tr>
                <th>3</th>
                <th>K Summanth Chandra</th>
                <th><a>sumanth.kodithyala@gmail.com</a></th>
                <th>9705424080</th>
            </tr>
            <tr>
                <th>4</th>
                <th>Ubaid Siddiqui</th>
                <th><a>ubaidsiddiqui720@gmail.com</a></th>
                <th>8576016240</th>
            </tr>
            <tr>
                <th>5</th>
                <th>Subodh Verma</th>
                <th><a>vermasubodh6@gmail.com</a></th>
                <th>9616588637</th>
            </tr>
            <tr>
                <th>6</th>
                <th>Surabhi Singh</th>
                <th><a>surabhi16057001@gmail.com</a></th>
                <th>7985266212</th>
            </tr>

        </tbody>
    </table>
</div>