<div class="container-fluid">
    <form class="border p-3 rounded-3">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
                <span class="fs-3">Request for Leave</span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="name" class="form-label">HOD Name:</label>
                <input type="text" class="form-control" id="name">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="hid" class="form-label">HOD Id:</label>
                <input type="text" class="form-control" id="hid">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="reason" class="form-label">Reason for Leave:</label>
                <input type="text" class="form-control" style="height: 4rem;" id="reason">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="startDate" class="form-label">Date from:</label>
                <input type="date" class="form-control" id="startDate">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="endDate" class="form-label">Date to:</label>
                <input type="date" class="form-control" id="endDate">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>