<div class="container pe-3 border" style="background: rgb(0, 0, 0);">
    <h1 class="text-success fw-bold">Let's take a tour to our Experties</h1>
    <table class="table   text-light">
        <thead>
            <tr>
                <th class="fw-bold">Name</th>
                <th class="fw-bold">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Akhilesh Yadav</th>
                <th>Full Stack Development(Java and Python)</th>
            </tr>
            <tr>
                <th>Ubaid Siddiqui</th>
                <th>Frontend Development</th>
            </tr>
            <tr>
                <th>Subodh Verma</th>
                <th>Frontend Development</th>
            </tr>
            <tr>
                <th>Surabhi Singh</th>
                <th>Frontend Development</th>
            </tr>
            <tr>
                <th>K Sumanth Chandra</th>
                <th>.................</th>
            </tr>
            <tr>
                <th>Sambasiva Rao</th>
                <th>.................</th>
            </tr>
        </tbody>
    </table>

</div>