<nav class="navbar navbar-expand-lg color">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 px-0">

                <li class="nav-item">
                    <a class="nav-link text-color fw-bold" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-color fw-bold" [routerLink]="['/about']" routerLinkActive="router-link-active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color fw-bold" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link text-color fw-bold" [routerLink]="['/faculty']" routerLinkActive="router-link-active">Faculty</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>