<!-- header code -->
<header>
    <nav class="navbar">
        <p class="comp-name">Faculty</p>
        <ul>
            
            <li><a href="#">Profile</a></li>
            <li><a href="#">Meeting Notification</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Question Paper</a></li>
            <li><a href="#">Leave</a></li>
            <li><a href="#">Logout</a></li>

            
        </ul>
    </nav>
</header>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Facutly </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Meeting Notification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Discussion Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Question Paper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Leave</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav> -->


<!-- dashboard code -->
<div class="dashboard">
    <div class="card" style="width: 15rem;">
        <br>
        <img src="./assets\unavailable.jpg" style="width: 100px; height: 120px ;" class="card-img-top mx-auto"
            alt="...">
        <br>
        <div class="card-body">
            <p class="card-text">Name: xyz</p>
            <p class="card-text">Designation: xyz</p>
            <button class="btn-primary">Logout</button>

        </div>
    </div>
</div>