<section class=" mx-auto max border p-3 bg-dark ">
    <p class="text-success fs-bold fs-1 mt-3">Login Form</p>
    <form class="px-md-2" (ngSubmit)="formSubmit()" #loginform="ngForm">
        <div class=" mb-4">
            <label class="form-label fs-6 fw-bold text-light" for="form2Example17">Select Role</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="loginData.role" name="role">
                <option selected>Select Role</option>
                <option value="principal">Principal</option>
                <option value="hod">HOD</option>
                <option value="faculty">Faculty</option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label fs-6 fw-bold text-light" for="form2Example17">Email address</label>
            <input [(ngModel)]="loginData.email" name="email" type="email" id="form2Example17" class="form-control shadow-none  inputtext" placeholder="Enter Email/Username" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched">

        </div>

        <div class="form-outline mb-4">
            <label class="form-label fs-6 fw-bold text-light" for="form2Example27">Password</label>
            <input type="password" [(ngModel)]="loginData.password" name="password" id="form2Example27" class="form-control shadow-none background inputtext" placeholder="Enter your password" required />
        </div>
        <div class="mb-3">
            <button class="btn btn-success btn-lg btn-block shadow-none" type="submit">Login</button>
        </div>
    </form>

</section>