<div class="container m-0 p-0">
    <h2>Manage Faculty</h2>
</div>
<table class="table table-hover table-bordered m-0 p-0 ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Gender</th>
            <th scope="col">Dob</th>
            <th scope="col">Profile</th>
            <th scope="col">Password</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">

            <td>{{item.id}}</td>
            <td>{{item.role}}</td>
            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.dob}}</td>
            <td>{{item.profile}}</td>
            <td>{{item.password}}</td>
            <td *ngIf="item.status === true;else success">Success</td>
            <ng-template #success>
                pending
            </ng-template>
            <td class="m-0 p-0" style="max-width: 150px;">
                <div class="row">
                    <div class="col ms-3 px-1">
                        <a (click)="delete(item.id)"><img src="../../../assets/images/delete.png" style="height: 20px; width:20px" alt=""></a>
                    </div>
                    <div class="col m-0 px-1">
                        <a><img src="../../../assets/images/edit.png" style="height: 20px; width:20px" alt=""></a>
                    </div>
                </div>
        </tr>
    </tbody>
</table>