<div class="d-flex flex-column  py-3 bg-light m-0" style="width: 200px; ">
    <a [routerLink]="['/faculty']" routerLinkActive="router-link-active" class="d-flex align-items-center  link-dark text-decoration-none">
        <div class="mx-auto">
            <img class="rounded-circle mx-auto" alt="100x100" src="../../../assets/images/adminicon.jpg" style="height: 150px;width:150px">
            <h2 class="mt-2 mb-0 text-center mx-auto">Faculty Name</h2>
            <h5 class=" text-center mx-auto">(Designation)</h5>
        </div>
    </a>
    <hr class="">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a [routerLink]="['/faculty']" routerLinkActive="router-link-active" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home" />
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="['/addqp']" routerLinkActive="router-link-active" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                Add QP
            </a>
        </li>
        <li>
            <a [routerLink]="['/metingnotifiation']" routerLinkActive="router-link-active" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table" />
                </svg>
                Meeting Notification
            </a>
        </li>

        <li>
            <a [routerLink]="['/forum']" routerLinkActive="router-link-active" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Forum
            </a>
        </li>
        <li>
            <a [routerLink]="['/leave']" routerLinkActive="router-link-active" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Leave
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle" />
                </svg>
                Logout
            </a>
        </li>
    </ul>

</div>