<div class="container-fluid">
    <form class="border p-3 rounded-3">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
                <span class="fs-3">Add Faculty</span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="fid" class="form-label">Faculty Id:</label>
                <input type="text" class="form-control" id="fid">
            </div>
            <div class="col mb-3">
                <label for="name" class="form-label">Faculty Name:</label>
                <input type="text" class="form-control" id="name">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="email" class="form-label">Email Address:</label>
                <input type="email" class="form-control" id="email">
                <div class="form-text"></div>
            </div>
            <div class="col mb-3">
                <label for="contact" class="form-label">Mobile Number:</label>
                <input type="text" class="form-control" id="contact">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="subject" class="form-label">Subject:</label>
                <input type="text" class="form-control" id="subject">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="education" class="form-label">Education:</label>
                <input type="text" class="form-control" id="education">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="experience" class="form-label">Experience:</label>
                <input type="text" class="form-control" id="experience">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Add Faculty</button>
                </div>
            </div>
        </div>
    </form>
</div>