<div class="m-0" style="background-image:url('../../assets/images/home1.jpg'); height:700px; opacity:0.7">
    <app-header></app-header>
    <div class="container mt-5">
        <p class="text-center text-danger fontsize fw-bold">Welcome to WorkFlow Management System(MNC'S)</p>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 mt-5">
            <div class="container mt-5 mb-0 text-light text-center">
                <h1 class="text fw-bold">WorkFlow Management System is basically for any organization where there are three tier Like Admin Director and User like this, So we people have developed this Application for the any organization college or any other.</h1>
                <h3 class="fw-bold text-light">Lets go ahead and take a tour to this Application</h3>
                <button class="btn btn-success shadow-none" [routerLink]="['/login']" routerLinkActive="router-link-active"><a class=""></a>Get Started</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mx-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>