<div class="container-fluid">
    <form class="border p-3 rounded-3">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
                <span class="fs-3">Discussion Forum</span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="message" class="form-label">Message:</label>
                <input type="text" class="form-control" style="height: 6rem;" id="message">
                <div class="form-text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>